*
!.gitignore
!modules/
modules/*
!modules/cardgate/
!modules/cardgateafterpay/
!modules/cardgatebanktransfer/
!modules/cardgatebillink/
!modules/cardgatebitcoin/
!modules/cardgatecreditcard/
!modules/cardgatedirectdebit/
!modules/cardgatedirectebanking/
!modules/cardgategiftcard/
!modules/cardgategiropay/
!modules/cardgateideal/
!modules/cardgateidealqr/
!modules/cardgateklarna/
!modules/cardgatemc/
!modules/cardgatepaypal/
!modules/cardgatepaysafecard/
!modules/cardgatepaysafecash/
!modules/cardgateprzelewy24/
!README.md
!README_DE.md
!README_NL.md